<header>
    <span class="menu glyphicon glyphicon-th"></span>
    <div class="title">phonegap-plugin-contentsync-test</div>
</header>
<section>
    <div>
        <span class="btn" data-command="local-version">local version</span>
        <span class="btn" data-command="local-path">local path</span>
        <span class="btn" data-command="check-update">check update</span>
        <span class="btn" data-command="fetch-update">fetch update</span>
        <span class="btn" data-command="load-update">load update</span>
    </div>
    <div class="log"></div>
</section>